@using CaptchaMvc.HtmlHelpers
@using WebTinTuc.Models
@model LoginViewModel
@{
    ViewBag.Title = "Trang đăng nhập quản trị";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <section id="loginForm">
            <div class="page-header">
                <h3>@ViewBag.Title</h3>
            </div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {    
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="capchaPlain" class="col-md-4 control-label">Mã bảo mật</label>
                    <div class="col-md-6">
                        @*@Html.MathCaptcha("Làm mới", "", "Vui lòng nhập mã bảo mật", true)*@
                        @*@Html.Captcha("Làm mới", "", 4, "Vui lòng nhập mã bảo mật", true)*@
                        @*@Html.Captcha("Lấy mã khác", "", 4, "Vui lòng nhập mã bảo mật", true)*@
                        @Html.Captcha(4, "_PlainCaptchaPartial", new ViewDataDictionary { })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe) Nhớ mật khẩu?
                            </label>
                        </div>
                        <div class="checkbox">
                            @Html.ActionLink("Quên mật khẩu?", "ForgotPassword")
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Đăng nhập" class="btn btn-primary" />
                    </div>
                </div>
                @*<p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>*@
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}